/*
    font-family: 'Yaldevi', sans-serif;
    
    font-family: 'Roboto', sans-serif;

https://coolors.co/9381ff-b8b8ff-f8f7ff-ffeedd-ffd8be    
--medium-purple: #9381ff;
--maximum-blue-purple: #b8b8ff;
--ghost-white: #f8f7ff;
--antique-white: #ffeedd;
--unbleached-silk: #ffd8be; #ffebde --> I'm using this second option
*/


body {
  background: #ffebde; /* #ffeedd;  #fafafa; */
  color: #333333;
  margin-top: 5rem;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #9381ff; /* #b8b8ff  #444444; */
  font-family: 'Yaldevi', sans-serif;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #b8b8ff; /* #9381ff;  #cbd5db; */
  font-weight: bold;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #9381ff; /* #b8b8ff;  #444444; */
  font-weight: bold;
}

a.article-title:hover {
  color: #ffd8be; /* #428bca; */
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  background: #f8f7ff;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #ffd8be; /* #333; */
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.sidebar {
  background: #ffeedd;
  font-family: 'Roboto', sans-serif;
}